.HomePage {
    width: 100%;

    &-Hero {
        position: relative;
        height: 100vh;
    }

    &-HeroBg {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-HeroBgImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}