:root {
    --navbar-height: 70px;
}

.NavBar {
    width: 100%;
    height: var(--navbar-height);

    &-Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &-NavList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }
      
    &-NavItem a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: var(--fs-md);
        font-weight: var(--fw-light);
        line-height: 20px;
        text-transform: uppercase;
        color: var(--clr-grey-light);
    }
}
