.TechStack {
     background-color: transparent;

     &-Heading {
          background-color: transparent;
     }

     &-SmallSpacer {
          background-color: transparent;
     }

     &-Row {
          background-color: transparent;
     }

     &-JavaScript {
          background-color: transparent;
     }

     &-React {
          background-color: transparent;
     }

     &-TypeScript {
          background-color: transparent;
     }

     &-Express {
          background-color: transparent;
     }
     
     &-Tailwind {
          background-color: transparent;
     }

     &-Node {
          background-color: transparent;
     }

     &-Firebase {
          background-color: transparent;
     }

     &-Mysql {
          background-color: transparent;
     }

     &-graphql {
          background-color: transparent;
     }

     &-Mongodb {
          background-color: transparent;
     }

     &-Sass {
          background-color: transparent;
     }

     &-Bootstrap {
          background-color: transparent;
     }
     
     &-Redux {
          background-color: transparent;
     }

     &-Css {
          background-color: transparent;
     }

     &-Postgres {
          background-color: transparent;
     }

     &-Semantic {
          background-color: transparent;
     }

}