.TechStack {
     &-Heading {
          font-family: 'Source Sans Pro';
          font-weight: var(--fw-light);
          font-size: var(--fs-md);
          line-height: 20px;
          color: var(--clr-primary);
     }

     &-SmallSpacer {
          background-color: var(--clr-grey-light);
          margin: auto;
     }

     &-Row {
          display: flex;
          height: 60px;
          align-items: center;
          justify-content: space-between;
     }

     &-JavaScript {
          font-family: var(--ff-secondary);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-React {
          font-family: var(--ff-additional-one);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-TypeScript {
          font-family: var(--ff-additional-two);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Express {
          font-family: var(--ff-additional-three);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }
     
     &-Tailwind {
          font-family: var(--ff-additional-four);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Node {
          font-family: var(--ff-additional-five);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Firebase {
          font-family: var(--ff-additional-six);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Mysql {
          font-family: var(--ff-additional-seven);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-graphql {
          font-family: var(--ff-additional-eight);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Mongodb {
          font-family: var(--ff-additional-nine);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Sass {
          font-family: var(--ff-additional-ten);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Bootstrap {
          font-family: var(--ff-additional-eleven);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }
     
     &-Redux {
          font-family: var(--ff-additional-twelve);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Css {
          font-family: var(--ff-additional-thirteen);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Postgres {
          font-family: var(--ff-additional-fourteen);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

     &-Semantic {
          font-family: var(--ff-additional-fifteen);
          min-width: 80px;
          display: flex;
          justify-content: center;
     }

}