.TechSystemsCard {
     background-color: transparent;

     &-Title {
          background-color: transparent;
     }

     &-SmallSpacer {
          background-color: transparent;
     }

     &-Items {
          background-color: transparent;
     }

     &-Item {
          background-color: transparent;
     }
}