.TechSystemsCard {
     box-shadow: var(--box-shadow);
     border-radius: 0.5rem;
     padding: 20px 40px;

     &-Title {
          font-weight: var(--fw-heavy);
          font-size: var(--fs-md);
          line-height: 30px;
          text-transform: capitalize;
     }

     &-SmallSpacer {
          background-color: var(--clr-grey-light);
     }

     &-Item {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
     }

     &-ItemName {
          text-transform: capitalize;
     }
}