.Banner {
    height: calc(100vh - var(--navbar-height));

    &-MainContainer {
        height: 100%;
    }

    &-ContentContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-SubHeading {
        font-size: var(--fs-md);
        font-weight: var(--fw-light);
        color: var(--clr-grey-faint);
    }

    &-Heading {
        font-size: var(--fs-xxl);
        font-weight: var(--fw-heavy);
        color: var(--clr-grey-faint);
    }
    
    &-SmallSpacer {
        background-color: var(--clr-grey-faint);
    }

    &-ContentText {
        font-size: 20px;
        font-weight: var(--fw-light);
        color: var(--clr-grey-light);
    }

    &-Contacts {
        display: flex;
    }
}