.Banner {

    &-ContentContainer {
        background-color: transparent;
    }

    &-Content {
        background-color: transparent;
    }

    &-SubHeading {
        background-color: transparent;
    }

    &-Heading {
        background-color: transparent;
    }
    
    &-SmallSpacer {
        background-color: transparent;
    }

    &-ContentText {
        background-color: transparent;
    }

    &-Contacts {
        background-color: transparent;
    }
}