.ProjectCard {
     background-color: transparent;

     &-TypeContainer {
          background-color: transparent;
     }
     
     &-MainContainer {
          background-color: transparent;
     }
     
     &-BgImageContainer {
          background-color: transparent;
     }
     
     &-BgImage {
          background-color: transparent;
     }
     
     &-DisplayImageContainer {
          background-color: transparent;
     }
     
     &-DisplayImage {
          background-color: transparent;
     }

     &-ContentContainer {
          background-color: transparent;
     }

     &-Content {
          background-color: transparent;
     }

     &-SubHeading {
          background-color: transparent;
     }

     &-Heading {
          background-color: transparent;
     }
     
     &-ContentText {
          background-color: transparent;
     }
     
     &-Heading {
          background-color: transparent;
     }
     
     &-Button {
          background-color: transparent;
     }
}