.About {
   
    &-Components {
        background-color: transparent;
    }

    &-ImageContainer {
        background-color: transparent;
    }

    &-Img {
        background-color: transparent;
    }

    &-Content {
        background-color: transparent;
    }

    &-ContentContainer {
        background-color: transparent;
    }

    &-ContentHeading {
        background-color: transparent;
    }

    &-SmallSpacer {
        background-color: transparent;
    }

    &-QuoteContainer {
        background-color: transparent;
    }

    &-VerticalSpacer {
        background-color: transparent;
    }

    &-ContentText {
        background-color: transparent;
    }

    &-Contacts {
        background-color: transparent;
    }

    &-Contact {
        background-color: transparent;
    }

    &-ContactContainer {
        background-color: transparent;
    }

    &-ContactKey {
        background-color: transparent;
    }

    
    &-ContactValue {
        background-color: transparent;
    }
}
