.About {
    &-Img {
        object-fit: contain;
    }

    &-Content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-ContentHeading {
        font-size: var(--fs-xl);
        font-weight: var(--fw-heavy);
        color: var(--clr-primary);
        font-family: var(--clr-primary);
    }

    &-SmallSpacer {
        background-color: var(--clr-grey-light);
    }

    &-QuoteContainer {
        display: flex;
        align-items: center;
    }

    &-VerticalSpacer {
        height: 120px;
        width: 14px;
        background-color: var(--clr-grey-light);
        margin-right: var(--space-md);
    }

    &-Contact {
        margin-bottom: 4px;
    }

    &-ContentText {
        background-color: transparent;
        font-size: var(--fs-md);
        font-weight: var(--fw-heavy);
        line-height: 30px;
        letter-spacing: 0.03em;
        max-width: 600px;
    }

    &-ContactKey {
        font-size: var(--fs-md);
        font-weight: var(--fw-heavy);
        line-height: 20px;
        color: var(--clr-primary);
        margin-right: 5px;
    }
    
    &-ContactValue {
        font-size: var(--fs-md);
        font-weight: var(--fw-light);
        line-height: 20px;
    }
}
