.Projects {
     padding-top: 40px;
     
     &-Heading {
          font-size: var(--fs-xl);
          font-weight: var(--fw-heavy);
          line-height: 40px;
          font-family: var(--clr-primary);
      }
}