.Logo {

    &-Left {
        font-size: var(--fs-xl);
        font-weight: 600;
        color: var(--clr-grey-light)
    }

    &-Right {
        font-size: 20px;
        font-weight: 400;
        color: var(--clr-secondary)
    }
}