.Contact {
    background-color: transparent;

    &-Heading {
        background-color: transparent;
    }
    
    &-SmallSpacer {
        background-color: transparent;
    }
    
    &-Button {
        background-color: transparent;
    }
    
    &-TextArea {
        background-color: transparent;
    }
    
    &-InputsContainer {
        background-color: transparent;
    }
    
    &-Input {
        background-color: transparent;
    }
    
 }