.Contact {
    &-Heading {
        font-size: var(--fs-xl);
        font-weight: var(--fw-heavy);
        color: var(--clr-primary);
        font-family: var(--clr-primary);
        text-transform: capitalize;
    }
    
    &-SmallSpacer {
        background-color: var(--clr-grey-light);
        margin: auto;
    }
    
    &-TextArea {
        width: calc(100% - 2rem);
        min-height: 200px;
    }
    
    &-InputsContainer {
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        gap: 24px;
    }
    
    &-Input {
        width: 50%;
    }

    &-Button {
        box-shadow: var(--box-shadow);
    }
    &-Error {
        margin-top: 2rem;
        font-size: var(--fs-lg);
        color: var(--clr-red-base);
        font-family: var(--clr-primary);
    }
    
 }